/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента

@import './utils/variables';
@import './utils/mixins';

@import './base/reset';
@import './base/page';
@import './base/container';
@import './base/commons';

@import './layout/header';
@import './layout/menu';
@import './layout/hero';
@import './layout/products';
@import './layout/about';
@import './layout/advantages';
@import './layout/gallery';
@import './layout/customer-reviews';
@import './layout/contacts';
@import './layout/footer';
@import './layout/modal';
@import './layout/about-backdrop';
@import './layout/button-up';