<section class="about">
    <div class="container">
        <p class="about__pre-title pre-title">tradition and love</p>
        <h2 class="about__title title">how it’s made?</h2>
        <img src="" alt="корова">
            <p class="about__subtitle">
                Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                Maecenas eleifend erat at justo fringilla.
            </p>
            <p class="about__subdescription">
                Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                <br>
                <br>Aliquam erat volutpat. Aenean accumsan.
            </p>
            
                
           
            <a class="about__button">Read more</a>
    </div>
</section>

