<section class="advantages" id="about">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages___list">
      <li class="advantages___items">
        <span class="advantages___letter udder">721</span>
        <p class="advantages___text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>

      <li class="advantages___items weight">
        <span class="advantages___letter">16kg</span>
        <p class="advantages___text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>

      <li class="advantages___items heart">
        <span class="advantages___letter">84</span>
        <p class="advantages___text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
