<section class="advantages___section">
    <div class="container">
        <ul class="advantages___list">
            <li class="advantages___items">
                <span>721</span>
                <p class="advantages___text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            
            <li class="advantages___items">
                <span>16kg</span>
                <p class="advantages___text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="advantages___items">
                <span>84</span>
                <p class="advantages___text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>