<section class="Advantages___section">
    <div class="container">
        <ul class="Advantages___list">
            <li class="Advantages___items">
                <div class="Advantages___svg"></div>
                <h2 class="Advantages___title">721</h2>
                <p class="Advantages___text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            
            <li class="Advantages___items">
                <div class="Advantages___svg"></div>
                <h2 class="Advantages___title">16kg</h2>
                <p class="Advantages___text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="Advantages___items">
                <div class="Advantages___svg"></div>
                <h2 class="Advantages___title">84</h2>
                <p class="Advantages___text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>