<section class="contacts" id="contact">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="contacts__item-wrap">
          <span class="contacts__item-desc">CAFE</span>
        </div>
        <div class="contacts-wrap">
          <p class="contacts__item-city">Chicago</p>
          <p class="contacts__item-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <span></span>
        </div>
        <div class="contacts-wrap">
          <div class="contacts-wrap__time upper">
            <p class="contacts__item-day">Monday - Friday</p>
            <p class="contacts__item-time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts-wrap__time">
            <p class="contacts__item-day">Saturday - Sunday</p>
            <p class="contacts__item-time">08:00 AM - 16:00 PM</p>
          </div>
          <span></span>
        </div>
        <a href="tel:+610383766284" class="contacts__item-link">+61(0) 383 766 284 </a>
        <a href="mailto:noreply@envato.com" class="contacts__item-link">noreply@envato.com</a>
      </li>

      <li class="contacts__item">
        <div class="contacts__item-wrap food">
          <span class="contacts__item-desc">FOOD TRUCK</span>
        </div>
        <div class="contacts-wrap">
          <p class="contacts__item-city">Los Angeles</p>
          <p class="contacts__item-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <span></span>
        </div>
        <div class="contacts-wrap">
          <div class="contacts-wrap__time upper">
            <p class="contacts__item-day">Monday - Friday</p>
            <p class="contacts__item-time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts-wrap__time">
            <p class="contacts__item-day">Saturday - Sunday</p>
            <p class="contacts__item-time">08:00 AM - 16:00 PM</p>
          </div>
          <span></span>
        </div>
        <a href="tel:+610383766284" class="contacts__item-link">+61(0) 383 766 284 </a>
        <a href="mailto:noreply@envato.com" class="contacts__item-link">noreply@envato.com</a>
      </li>

      <li class="contacts__item">
        <div class="contacts__item-wrap">
          <span class="contacts__item-desc">CAFE</span>
        </div>
        <div class="contacts-wrap">
          <p class="contacts__item-city">New York</p>
          <p class="contacts__item-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <span></span>
        </div>
        <div class="contacts-wrap">
          <div class="contacts-wrap__time upper">
            <p class="contacts__item-day">Monday - Friday</p>
            <p class="contacts__item-time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts-wrap__time">
            <p class="contacts__item-day">Saturday - Sunday</p>
            <p class="contacts__item-time">08:00 AM - 16:00 PM</p>
          </div>
          <span></span>
        </div>
        <a href="tel:+610383766284" class="contacts__item-link">+61(0) 383 766 284 </a>
        <a href="mailto:noreply@envato.com" class="contacts__item-link">noreply@envato.com</a>
      </li>
    </ul>

    <div class="contacts-btn-wrap">
      <button type="button" class="contacts-btn__location button-accent">
        Our Locations
        <svg class="contacts-btn__location-icon" width="10" height="10">
          <use href="../src/images/sprite.svg#pointer-small"></use>
        </svg>
      </button>
      <button type="button" class="contacts-btn__franchise button-primary">
        Franchise
        <svg class="contacts-btn__franchise-icon" width="10" height="10">
          <use href="../src/images/sprite.svg#pointer-small"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
