<section class="contacts" id="contact">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="contacts__item-wrap">
          <span class="contacts__item-desc">CAFE</span>
        </div>
        <div class="contacts-wrap">
          <p class="contacts__item-city">Chicago</p>
          <p class="contacts__item-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <span></span>
        </div>
        <div class="contacts-wrap">
          <div class="contacts-wrap__time upper">
            <p class="contacts__item-day">Monday - Friday</p>
            <p class="contacts__item-time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts-wrap__time">
            <p class="contacts__item-day">Saturday - Sunday</p>
            <p class="contacts__item-time">08:00 AM - 16:00 PM</p>
          </div>
          <span></span>
        </div>
        <a href="tel:+610383766284" class="contacts__item-link">+61(0) 383 766 284 </a>
        <a href="mailto:noreply@envato.com" class="contacts__item-link">noreply@envato.com</a>
      </li>

      <li class="contacts__item">
        <div class="contacts__item-wrap food">
          <span class="contacts__item-desc">FOOD TRUCK</span>
        </div>
        <div class="contacts-wrap">
          <p class="contacts__item-city">Los Angeles</p>
          <p class="contacts__item-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <span></span>
        </div>
        <div class="contacts-wrap">
          <div class="contacts-wrap__time upper">
            <p class="contacts__item-day">Monday - Friday</p>
            <p class="contacts__item-time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts-wrap__time">
            <p class="contacts__item-day">Saturday - Sunday</p>
            <p class="contacts__item-time">08:00 AM - 16:00 PM</p>
          </div>
          <span></span>
        </div>
        <a href="tel:+610383766284" class="contacts__item-link">+61(0) 383 766 284 </a>
        <a href="mailto:noreply@envato.com" class="contacts__item-link">noreply@envato.com</a>
      </li>

      <li class="contacts__item">
        <div class="contacts__item-wrap">
          <span class="contacts__item-desc">CAFE</span>
        </div>
        <div class="contacts-wrap">
          <p class="contacts__item-city">New York</p>
          <p class="contacts__item-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <span></span>
        </div>
        <div class="contacts-wrap">
          <div class="contacts-wrap__time upper">
            <p class="contacts__item-day">Monday - Friday</p>
            <p class="contacts__item-time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts-wrap__time">
            <p class="contacts__item-day">Saturday - Sunday</p>
            <p class="contacts__item-time">08:00 AM - 16:00 PM</p>
          </div>
          <span></span>
        </div>
        <a href="tel:+610383766284" class="contacts__item-link">+61(0) 383 766 284 </a>
        <a href="mailto:noreply@envato.com" class="contacts__item-link">noreply@envato.com</a>
      </li>
    </ul>

    <div class="contacts-btn-wrap">
      <button type="button" class="contacts-btn__location button-accent">
        Our Locations
        <svg class="contacts-btn__location-icon" width="10" height="10">
          <use href="../src/images/sprite.svg#pointer-small"></use>
        </svg>
      </button>
      <button type="button" class="contacts-btn__franchise button-primary">
        Franchise
        <svg class="contacts-btn__franchise-icon" width="10" height="10">
          <use href="../src/images/sprite.svg#pointer-small"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="contacts__map is-hidden">
    <div class="contacts__map-wrap">
      <div class="map">
        <button type="button" class="map__btn">
          <svg class="map__btn-icon" width="14" height="14">
            <use href="../src/images/sprite.svg#close"></use>
          </svg>
        </button>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7727.796394952063!2d-87.70365359321111!3d41.92248823578068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd29d7c79d085%3A0xc19ae13c746621e!2sPretty%20Cool%20Ice%20Cream!5e0!3m2!1sru!2sua!4v1651057019701!5m2!1sru!2sua"
          width="100%"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>
