<section class="reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <!-- заголовок не видображається -->
    <div class="swiper mySwiper">
      <ul class="reviews__list swiper-wrapper">
        <li class="reviews__item swiper-slide">
          <div class="reviews__imag">
            <picture>
              <source
                srcset="
                  ../src/images/reviews-photo-1.webp    1x,
                  ../src/images/reviews-photo-1@2x.webp 2x,
                  ../src/images/reviews-photo-1@3x.webp 3x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ../src/images/reviews-photo-1.png    1x,
                  ../src/images/reviews-photo-1@2x.png 2x,
                  ../src/images/reviews-photo-1@3x.png 3x
                "
              />
              <img
                src="../src/images/reviews-photo-1.png"
                alt="customer photo-1"
                width="85"
                height="85"
              />
            </picture>
          </div>
          <div class="reviews__item-wrap-text">
            <p class="reviews__item-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="reviews__wrap-span">
            <span></span>
          </div>
          <div class="reviews__item-wrap-name">
            <p class="reviews__item-name">Emily, Los Angeles</p>
          </div>
        </li>

        <li class="reviews__item swiper-slide">
          <div class="reviews__imag">
            <picture>
              <source
                srcset="
                  ../src/images/reviews-photo-2.webp    1x,
                  ../src/images/reviews-photo-2@2x.webp 2x,
                  ../src/images/reviews-photo-2@3x.webp 3x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ../src/images/reviews-photo-2.png    1x,
                  ../src/images/reviews-photo-2@2x.png 2x,
                  ../src/images/reviews-photo-2@3x.png 3x
                "
              />
              <img
                src="../src/images/reviews-photo-2.png"
                alt="customer photo-2"
                width="85"
                height="85"
              />
            </picture>
          </div>
          <div class="reviews__item-wrap-text">
            <p class="reviews__item-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="reviews__wrap-span">
            <span></span>
          </div>
          <div class="reviews__item-wrap-name">
            <p class="reviews__item-name">Maria, New-York</p>
          </div>
        </li>

        <li class="reviews__item swiper-slide">
          <div class="reviews__imag">
            <picture>
              <source
                srcset="
                  ../src/images/reviews-photo-3.webp    1x,
                  ../src/images/reviews-photo-3@2x.webp 2x,
                  ../src/images/reviews-photo-3@3x.webp 3x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ../src/images/reviews-photo-3.png    1x,
                  ../src/images/reviews-photo-3@2x.png 2x,
                  ../src/images/reviews-photo-3@3x.png 3x
                "
              />
              <img
                src="../src/images/reviews-photo-3.png"
                alt="customer photo-3"
                width="85"
                height="85"
              />
            </picture>
          </div>
          <div class="reviews__item-wrap-text">
            <p class="reviews__item-text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="reviews__wrap-span">
            <span></span>
          </div>
          <div class="reviews__item-wrap-name">
            <p class="reviews__item-name">Anna, Chicago</p>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
