<footer class="footer">
  <div class="container">
    <p class="footer__duplicate-pre-title pre-title">homemade ice cream made</p>
    <p class="footer__duplicate-title title">with passion</p>
    <ul class="socials">
      <li class="socials__item">
        <a
          class="socials__link"
          href="https://github.com/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="github link"
        >
          <svg>
            <use href="../src/images/sprite.svg#github"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a
          class="socials__link"
          href="https://web.telegram.org/k/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="telegram link"
        >
          <svg>
            <use href="../src/images/sprite.svg#telegram"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a
          class="socials__link"
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="facebook link"
        >
          <svg>
            <use href="../src/images/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer__contact">
      Feel free to contact
      <a class="footer__tel" href="tel:+610383766284">+61 (0) 383 766 284</a>
    </p>
    <span class="copyright">© 2019 - IceCream. All Rights Reserved. </span>
  </div>
</footer>
