<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery__list">
      <li class="gallery__item gallery__item--first">
        <picture>
          <source
            srcset="
              ../src/images/gallery1-desktop-1x.jpg 1x,
              ../src/images/gallery1-desktop-2x.jpg 2x,
              ../src/images/gallery1-desktop-3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ../src/images/gallery1-tablet-1x.jpg 1x,
              ../src/images/gallery1-tablet-2x.jpg 2x,
              ../src/images/gallery1-tablet-3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../src/images/gallery1-mobile-1x.jpg 1x,
              ../src/images/gallery1-mobile-2x.jpg 2x,
              ../src/images/gallery1-mobile-3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img src="../src/images/gallery1-desktop-1x.jpg" alt="two milkshakes in hands" />
        </picture>
      </li>
      <li class="gallery__item gallery__item--second">
        <picture>
          <source
            srcset="
              ../src/images/gallery2-desktop-1x.jpg 1x,
              ../src/images/gallery2-desktop-2x.jpg 2x,
              ../src/images/gallery2-desktop-3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ../src/images/gallery2-tablet-1x.jpg 1x,
              ../src/images/gallery2-tablet-2x.jpg 2x,
              ../src/images/gallery2-tablet-3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../src/images/gallery2-mobile-1x.jpg 1x,
              ../src/images/gallery2-mobile-2x.jpg 2x,
              ../src/images/gallery2-mobile-3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img src="../src/images/gallery2-desktop-1x.jpg" alt="girl eating ice cream" />
        </picture>
      </li>
      <li class="gallery__item gallery__item--third">
        <picture>
          <source
            srcset="
              ../src/images/gallery3-desktop-1x.jpg 1x,
              ../src/images/gallery3-desktop-2x.jpg 2x,
              ../src/images/gallery3-desktop-3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ../src/images/gallery3-tablet-1x.jpg 1x,
              ../src/images/gallery3-tablet-2x.jpg 2x,
              ../src/images/gallery3-tablet-3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../src/images/gallery3-mobile-1x.jpg 1x,
              ../src/images/gallery3-mobile-2x.jpg 2x,
              ../src/images/gallery3-mobile-3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img src="../src/images/gallery3-desktop-1x.jpg" alt="two ice creams on a plate" />
        </picture>
      </li>
      <li class="gallery__item gallery__item--fourth">
        <picture>
          <source
            srcset="
              ../src/images/gallery4-desktop-1x.jpg 1x,
              ../src/images/gallery4-desktop-2x.jpg 2x,
              ../src/images/gallery4-desktop-3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ../src/images/gallery4-tablet-1x.jpg 1x,
              ../src/images/gallery4-tablet-2x.jpg 2x,
              ../src/images/gallery4-tablet-3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../src/images/gallery4-mobile-1x.jpg 1x,
              ../src/images/gallery4-mobile-2x.jpg 2x,
              ../src/images/gallery4-mobile-3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img src="../src/images/gallery4-desktop-1x.jpg" alt="dog eating ice cream" />
        </picture>
      </li>
      <li class="gallery__item gallery__item--fifth">
        <picture>
          <source
            srcset="
              ../src/images/gallery5-desktop-1x.jpg 1x,
              ../src/images/gallery5-desktop-2x.jpg 2x,
              ../src/images/gallery5-desktop-3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ../src/images/gallery5-tablet-1x.jpg 1x,
              ../src/images/gallery5-tablet-2x.jpg 2x,
              ../src/images/gallery5-tablet-3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../src/images/gallery5-mobile-1x.jpg 1x,
              ../src/images/gallery5-mobile-2x.jpg 2x,
              ../src/images/gallery5-mobile-3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img src="../src/images/gallery5-desktop-1x.jpg" alt="Two ice cream in hands" />
        </picture>
      </li>
      <li class="gallery__item gallery__item--sixth">
        <picture>
          <source
            srcset="
              ../src/images/gallery6-desktop-1x.jpg 1x,
              ../src/images/gallery6-desktop-2x.jpg 2x,
              ../src/images/gallery6-desktop-3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ../src/images/gallery6-tablet-1x.jpg 1x,
              ../src/images/gallery6-tablet-2x.jpg 2x,
              ../src/images/gallery6-tablet-3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../src/images/gallery6-mobile-1x.jpg 1x,
              ../src/images/gallery6-mobile-2x.jpg 2x,
              ../src/images/gallery6-mobile-3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img src="../src/images/gallery6-desktop-1x.jpg" alt="matcha ice cream in a bowl" />
        </picture>
      </li>
      <li class="gallery__item gallery__item--seventh">
        <picture>
          <source
            srcset="
              ../src/images/gallery7-desktop-1x.jpg 1x,
              ../src/images/gallery7-desktop-2x.jpg 2x,
              ../src/images/gallery7-desktop-3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ../src/images/gallery7-tablet-1x.jpg 1x,
              ../src/images/gallery7-tablet-2x.jpg 2x,
              ../src/images/gallery7-tablet-3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../src/images/gallery7-mobile-1x.jpg 1x,
              ../src/images/gallery7-mobile-2x.jpg 2x,
              ../src/images/gallery7-mobile-3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img src="../src/images/gallery7-desktop-1x.jpg" alt="strawberry ice cream" />
        </picture>
      </li>
      <li class="gallery__item gallery__item--eighth">
        <picture>
          <source
            srcset="
              ../src/images/gallery8-desktop-1x.jpg 1x,
              ../src/images/gallery8-desktop-2x.jpg 2x,
              ../src/images/gallery8-desktop-3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ../src/images/gallery8-tablet-1x.jpg 1x,
              ../src/images/gallery8-tablet-2x.jpg 2x,
              ../src/images/gallery8-tablet-3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../src/images/gallery8-mobile-1x.jpg 1x,
              ../src/images/gallery8-mobile-2x.jpg 2x,
              ../src/images/gallery8-mobile-3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img src="../src/images/gallery8-desktop-1x.jpg" alt="ice cream cone" />
        </picture>
      </li>
      <li class="gallery__item gallery__item--ninth">
        <picture>
          <source
            srcset="
              ../src/images/gallery9-desktop-1x.jpg 1x,
              ../src/images/gallery9-desktop-2x.jpg 2x,
              ../src/images/gallery9-desktop-3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ../src/images/gallery9-tablet-1x.jpg 1x,
              ../src/images/gallery9-tablet-2x.jpg 2x,
              ../src/images/gallery9-tablet-3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../src/images/gallery9-mobile-1x.jpg 1x,
              ../src/images/gallery9-mobile-2x.jpg 2x,
              ../src/images/gallery9-mobile-3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img src="../src/images/gallery9-desktop-1x.jpg" alt="peach ice cream" />
        </picture>
      </li>

      <li class="gallery__item gallery__item--tenth">
        <picture>
          <source
            srcset="
              ../src/images/gallery10-desktop-1x.jpg 1x,
              ../src/images/gallery10-desktop-2x.jpg 2x,
              ../src/images/gallery10-desktop-3x.jpg 3x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ../src/images/gallery10-tablet-1x.jpg 1x,
              ../src/images/gallery10-tablet-2x.jpg 2x,
              ../src/images/gallery10-tablet-3x.jpg 3x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ../src/images/gallery10-mobile-1x.jpg 1x,
              ../src/images/gallery10-mobile-2x.jpg 2x,
              ../src/images/gallery10-mobile-3x.jpg 3x
            "
            media="(min-width:320px)"
          />
          <img src="../src/images/gallery10-desktop-1x.jpg" alt="ice cream scoop" />
        </picture>
      </li>
    </ul>
  </div>
</section>
