<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery__list">
      <!-- First section -->
      <div class="gallery__item gallery__item--first">
        <div class="gallery__card">
          <img
            srcset="
              ../src/images/gallery1-desktop-1x.jpg 1x,
              ../src/images/gallery1-desktop-2x.jpg 2x,
              ../src/images/gallery1-desktop-3x.jpg 3x
            "
            src="../src/images/gallery1-desktop-1x.jpg"
            alt="two milkshakes in hands"
            class="gallery__img"
          />
        </div>
      </div>
      <!-- Second section -->
      <div class="gallery__item gallery__item--second">
        <div class="gallery__card gallery__card--medium">
          <img
            srcset="
              ../src/images/gallery2-desktop-1x.jpg 1x,
              ../src/images/gallery2-desktop-2x.jpg 2x,
              ../src/images/gallery2-desktop-3x.jpg 3x
            "
            src="../src/images/gallery2-desktop-1x.jpg"
            alt="girl eating ice cream"
            class="gallery__img"
          />
        </div>
        <div class="gallery__card gallery__card--medium">
          <img
            srcset="
              ../src/images/gallery6-desktop-1x.jpg 1x,
              ../src/images/gallery6-desktop-2x.jpg 2x,
              ../src/images/gallery6-desktop-3x.jpg 3x
            "
            src="../src/images/gallery6-desktop-1x.jpg"
            alt="matcha ice cream in a bowl"
            class="gallery__img"
          />
        </div>
      </div>
      <!-- Third section -->
      <div class="gallery__item gallery__item--third">
        <div class="gallery__card gallery__card--medium gallery__card--medium-big">
          <img
            srcset="
              ../src/images/gallery3-desktop-1x.jpg 1x,
              ../src/images/gallery3-desktop-2x.jpg 2x,
              ../src/images/gallery3-desktop-3x.jpg 3x
            "
            src="../src/images/gallery3-desktop-1x.jpg"
            alt="two ice creams on a plate"
            class="gallery__img--big"
          />
        </div>
        <div class="gallery__card gallery__card--medium">
          <img
            srcset="
              ../src/images/gallery7-desktop-1x.jpg 1x,
              ../src/images/gallery7-desktop-2x.jpg 2x,
              ../src/images/gallery7-desktop-3x.jpg 3x
            "
            src="../src/images/gallery7-desktop-1x.jpg"
            alt="strawberry ice cream"
            class="gallery__img"
          />
        </div>
      </div>
      <!-- Fouth section -->
      <div class="gallery__item gallery__item--fourth">
        <div class="gallery__card gallery__card--medium">
          <img
            srcset="
              ../src/images/gallery4-desktop-1x.jpg 1x,
              ../src/images/gallery4-desktop-2x.jpg 2x,
              ../src/images/gallery4-desktop-3x.jpg 3x
            "
            src="../src/images/gallery4-desktop-1x.jpg"
            alt="dog eating ice cream"
            class="gallery__img"
          />
        </div>
        <div class="gallery__card">
          <img
            srcset="
              ../src/images/gallery8-desktop-1x.jpg 1x,
              ../src/images/gallery8-desktop-2x.jpg 2x,
              ../src/images/gallery8-desktop-3x.jpg 3x
            "
            src="../src/images/gallery8-desktop-1x.jpg"
            alt="ice cream cone"
            class="gallery__img"
          />
        </div>
      </div>
      <!-- Fifth section -->
      <div class="gallery__item gallery__item--fifth">
        <div class="gallery__card gallery__card--medium">
          <img
            srcset="
              ../src/images/gallery5-desktop-1x.jpg 1x,
              ../src/images/gallery5-desktop-2x.jpg 2x,
              ../src/images/gallery5-desktop-3x.jpg 3x
            "
            src="../src/images/gallery5-desktop-1x.jpg"
            alt="Two ice cream in hands"
            class="gallery__img"
          />
        </div>
        <div class="gallery__card">
          <img
            srcset="
              ../src/images/gallery9-desktop-1x.jpg 1x,
              ../src/images/gallery9-desktop-2x.jpg 2x,
              ../src/images/gallery9-desktop-3x.jpg 3x
            "
            src="../src/images/gallery9-desktop-1x.jpg"
            alt="peach ice cream"
            class="gallery__img"
          />
        </div>
      </div>
      <!-- Sixth section -->
      <div class="gallery__item gallery__item--sixth">
        <div class="gallery__card">
          <img
            srcset="
              ../src/images/gallery10-desktop-1x.jpg 1x,
              ../src/images/gallery10-desktop-2x.jpg 2x,
              ../src/images/gallery10-desktop-3x.jpg 3x
            "
            src="../src/images/gallery10-desktop-1x.jpg"
            alt="ice cream scoop"
            class="gallery__img"
          />
        </div>
      </div>
    </div>
  </div>
</section>
