<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery__list">
      <!-- First section -->
      <div class="gallery__item gallery__item--first">
        <div class="gallery__card">
          <img
            srcset="
              ../src/images/gallery1-1x.jpg 1x,
              ../src/images/gallery1-2x.jpg 2x,
              ../src/images/gallery1-3x.jpg 3x
            "
            src="../src/images/gallery1-1x.jpg"
            alt="two milkshakes in hands"
            class="gallery__img"
          />
        </div>
      </div>
      <!-- Second section -->
      <div class="gallery__item gallery__item--second">
        <div class="gallery__card gallery__card--medium">
          <img
            srcset="
              ../src/images/gallery2-1x.jpg 1x,
              ../src/images/gallery2-2x.jpg 2x,
              ../src/images/gallery2-3x.jpg 3x
            "
            src="../src/images/gallery2-1x.jpg"
            alt="girl eating ice cream"
            class="gallery__img"
          />
        </div>
        <div class="gallery__card gallery__card--medium">
          <img
            srcset="
              ../src/images/gallery3-1x.jpg 1x,
              ../src/images/gallery3-2x.jpg 2x,
              ../src/images/gallery3-3x.jpg 3x
            "
            src="../src/images/gallery3-1x.jpg"
            alt="matcha ice cream in a bowl"
            class="gallery__img"
          />
        </div>
      </div>
      <!-- Third section -->
      <div class="gallery__item gallery__item--third">
        <div class="gallery__card gallery__card--medium gallery__card--medium-big">
          <img
            srcset="
              ../src/images/gallery4-1x.jpg 1x,
              ../src/images/gallery4-2x.jpg 2x,
              ../src/images/gallery4-3x.jpg 3x
            "
            src="../src/images/gallery4-1x.jpg"
            alt="two ice creams on a plate"
            class="gallery__img--big"
          />
        </div>
        <div class="gallery__card gallery__card--medium gallery__card--medium-small">
          <img
            srcset="
              ../src/images/gallery5-1x.jpg 1x,
              ../src/images/gallery5-2x.jpg 2x,
              ../src/images/gallery5-3x.jpg 3x
            "
            src="../src/images/gallery5-1x.jpg"
            alt="strawberry ice cream"
            class="gallery__img"
          />
        </div>
      </div>
      <!-- Fouth section -->
      <div class="gallery__item gallery__item--fourth">
        <div class="gallery__card gallery__card--medium">
          <img
            srcset="
              ../src/images/gallery6-1x.jpg 1x,
              ../src/images/gallery6-2x.jpg 2x,
              ../src/images/gallery6-3x.jpg 3x
            "
            src="../src/images/gallery6-1x.jpg"
            alt="dog eating ice cream"
            class="gallery__img"
          />
        </div>
        <div class="gallery__card">
          <img
            srcset="
              ../src/images/gallery7-1x.jpg 1x,
              ../src/images/gallery7-2x.jpg 2x,
              ../src/images/gallery7-3x.jpg 3x
            "
            src="../src/images/gallery7-1x.jpg"
            alt="ice cream cone"
            class="gallery__img"
          />
        </div>
      </div>
      <!-- Fifth section -->
      <div class="gallery__item gallery__item--fifth">
        <div class="gallery__card gallery__card--medium">
          <img
            srcset="
              ../src/images/gallery8-1x.jpg 1x,
              ../src/images/gallery8-2x.jpg 2x,
              ../src/images/gallery8-3x.jpg 3x
            "
            src="../src/images/gallery8-1x.jpg"
            alt="Two ice cream in hands"
            class="gallery__img"
          />
        </div>
        <div class="gallery__card">
          <img
            srcset="
              ../src/images/gallery9-1x.jpg 1x,
              ../src/images/gallery9-2x.jpg 2x,
              ../src/images/gallery9-3x.jpg 3x
            "
            src="../src/images/gallery9-1x.jpg"
            alt="peach ice cream"
            class="gallery__img"
          />
        </div>
      </div>
      <!-- Sixth section -->
      <div class="gallery__item gallery__item--sixth">
        <div class="gallery__card">
          <img
            srcset="
              ../src/images/gallery10-1x.jpg 1x,
              ../src/images/gallery10-2x.jpg 2x,
              ../src/images/gallery10-3x.jpg 3x
            "
            src="../src/images/gallery10-1x.jpg"
            alt="ice cream scoop"
            class="gallery__img"
          />
        </div>
      </div>
    </div>
  </div>
</section>
