<header class="page-header">
  <div class="container">
    <div class="page-header__wrap">
      <a class="logo" href="../src/index.html">
        <svg class="logo__item" width="50" height="50">
          <use href="../src/images/sprite.svg#logo"></use>
        </svg>
        icecream</a
      >
      <nav class="site-nav">
        <ul class="site-nav__list">
          <li class="site-nav__item">
            <a class="site-nav__link" href="../src/index.html">Home</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="#about">About us</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="#howmade">How it’s made?</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="#ourproducts">Our products</a>
          </li>
          <li class="site-nav__item">
            <a class="site-nav__link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>

      <div class="site-nav__wrap">
        <button
          class="mob-menu-open"
          type="button"
          aria-controls="mob-menu"
          aria-label="mobile menu switch"
          data-menu-open
        >
          <svg class="mob-menu-open__icon" width="20" height="12">
            <use href="../src/images/sprite.svg#burger"></use>
          </svg>
        </button>
        <button class="order-btn button-primary" type="button" data-modal-open>
          Buy now
          <svg class="order-btn__icon" width="4" height="8">
            <use href="../src/images/sprite.svg#pointer-small"></use>
          </svg>
        </button>
      </div>
      <div class="backdrop-menu" data-menu>
        <div class="mob-menu" id="mob-menu">
          <button
            class="mob-menu__btn-close"
            type="button"
            aria-label="mobile menu switch"
            data-menu-close
          >
            <svg class="mob-menu__btn-close-icon" width="14" height="14">
              <use href="../src/images/sprite.svg#close"></use>
            </svg>
          </button>
          <button class="mob-menu__btn-order button-primary" type="button" data-modal-open1>
            Buy now
            <svg class="mob-menu__btn-order-icon" width="5" height="8">
              <use href="../src/images/sprite.svg#pointer-small"></use>
            </svg>
          </button>
          <nav>
            <ul class="mob-menu__list" aria-label="mobile menu list">
              <li class="mob-menu__item">
                <a class="mob-menu__link" href="../src/index.html">Home</a>
              </li>
              <li class="mob-menu__item">
                <a class="mob-menu__link" href="#about">About us</a>
              </li>
              <li class="mob-menu__item">
                <a class="mob-menu__link" href="#howmade">How it’s made?</a>
              </li>
              <li class="mob-menu__item">
                <a class="mob-menu__link" href="#ourproducts">Our products</a>
              </li>
              <li class="mob-menu__item">
                <a class="mob-menu__link" href="#contact">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
