<header class="page-header">
  <div class="container">
    <img class="logo" src="" alt="logo" />
    <nav class="site-nav">
      <ul class="site-nav__list">
        <li class="site-nav__item">
          <a class="site-nav__link" href="">Home</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="">About us</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="">How it’s made?</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="">Our products</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="">Contact</a>
        </li>
      </ul>

      <div class="site-nav__wrap">
        <button
          class="mob-menu-open"
          type="button"
          aria-controls="mob-menu"
          aria-label="mobile menu switch"
        >
          <svg class="mob-menu-open__icon" width="20" height="12">
            <use></use>
          </svg>
        </button>
        <button class="order-btn" type="button">
          Buy now
          <svg class="order-btn__icon" width="4" height="8">
            <use></use>
          </svg>
        </button>
      </div>

      <div class="mob-menu" id="mob-menu">
        <button class="mob-menu-close" type="button" aria-label="mobile menu switch">
          <svg class="mob-menu-close__icon" width="14" height="14">
            <use></use>
          </svg>
        </button>
        <button class="mob-menu-order" type="button">
          Buy now
          <svg class="mob-menu-order__icon" width="5" height="8">
            <use></use>
          </svg>
        </button>

        <ul class="mob-menu__list">
          <li class="mob-menu__item">
            <a class="mob-menu__link" href="">Home</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link" href="">About us</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link" href="">How it’s made?</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link" href="">Our products</a>
          </li>
          <li class="mob-menu__item">
            <a class="mob-menu__link" href="">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
