<section class="hero">
  <div class="hero__container container">
    <div class="hero__wrap">
      <h1 class="hero__tittle">
        ice cream<br />made with<br /><span class="hero__tittle-big-text">passion</span>
      </h1>
      <ul class="hero__list-link">
        <li class="hero__item-link">
          <a class="hero__link hero__link--accent btn-accent-flicker" href="#ourproducts"
            >Products</a
          >
        </li>
        <li class="hero__item-link">
          <a class="hero__link hero__link--primary btn-primary-flicker" href="#howmade"
            >How it’s made?</a
          >
        </li>
      </ul>

      <div class="hero-description">
        <p class="hero-description__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="hero-description__link" type="button" data-about-open2>
          <svg class="hero-description__icon" width="6" height="6">
            <use href="../src/images/sprite.svg#pointer-big"></use>
          </svg>
        </button>
      </div>
    </div>

    <ul class="hero__achievements-list">
      <li class="hero__achievements-item">
        <span class="hero__achievements-wrap">16</span>
        <p class="hero__achievements-text">cafes</p>
      </li>
      <li class="hero__achievements-item">
        <span class="hero__achievements-wrap">23</span>
        <p class="hero__achievements-text">food trucks</p>
      </li>
    </ul>

    <picture>
      <source
        srcset="
          ../src/images/hero-1-min.png    1x,
          ../src/images/hero-1-2x-min.png 2x,
          ../src/images/hero-1-3x-min.png 3x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ../src/images/hero-tab-1-min.png    1x,
          ../src/images/hero-tab-1-2x-min.png 2x,
          ../src/images/hero-tab-1-3x-min.png 3x
        "
        media="(min-width:768px)"
      />
      <img class="hero__img-milk" src="../src/images/hero-tab-1-min.png" alt="jug of milk" />
    </picture>

    <picture>
      <source
        srcset="
          ../src/images/hero-2-min.webp    1x,
          ../src/images/hero-2-2x-min.webp 2x,
          ../src/images/hero-2-3x-min.webp 3x
        "
        type="image/webp"
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ../src/images/hero-2-min.png    1x,
          ../src/images/hero-2-2x-min.png 2x,
          ../src/images/hero-2-3x-min.png 3x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ../src/images/hero-tab-2-min.webp    1x,
          ../src/images/hero-tab-2-2x-min.webp 2x,
          ../src/images/hero-tab-2-3x-min.webp 3x
        "
        type="image/webp"
        media="(min-width:768px)"
      />
      <source
        srcset="
          ../src/images/hero-tab-2-min.png    1x,
          ../src/images/hero-tab-2-2x-min.png 2x,
          ../src/images/hero-tab-2-3x-min.png 3x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ../src/images/hero-mob-2-min.webp    1x,
          ../src/images/hero-mob-2-2x-min.webp 2x,
          ../src/images/hero-mob-2-3x-min.webp 3x
        "
        type="image/webp"
        media="(min-width:320px)"
      />
      <source
        srcset="
          ../src/images/hero-mob-2-min.png    1x,
          ../src/images/hero-mob-2-2x-min.png 2x,
          ../src/images/hero-mob-2-3x-min.png 3x
        "
        media="(min-width:320px)"
      />
      <img
        class="hero__img-ice-cream animate__animated animate__flipInY"
        src="../src/images/hero-mob-2-min.png"
        alt="ice-cream"
      />
    </picture>

    <picture>
      <source
        srcset="
          ../src/images/hero-3-min.png    1x,
          ../src/images/hero-3-2x-min.png 2x,
          ../src/images/hero-3-3x-min.png 3x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ../src/images/hero-tab-3-min.png    1x,
          ../src/images/hero-tab-3-2x-min.png 2x,
          ../src/images/hero-tab-3-3x-min.png 3x
        "
        media="(min-width:768px)"
      />
      <img
        class="hero__img-girl animate__animated animate__rotateInUpLeft"
        src="../src/images/hero-tab-3-min.png"
        alt="girl with ice-cream"
      />
    </picture>
  </div>
</section>
