<section class="hero">
  <div class="container">
    <div class="hero__wrap">
      <h1 class="hero__tittle">
        ice cream made with <span class="hero__tittle-wrap">passion</span>
      </h1>
      <ul class="hero__list-link">
        <li class="hero__item-link"><a class="hero__link" href="">Products</a></li>
        <li class="hero__item-link"><a class="hero__link" href="">How it’s made?</a></li>
      </ul>

      <div class="hero-description">
        <p class="hero-description__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button type="button" class="hero-description__btn" aria-label="extended description">
          <svg class="hero-description__icon">
            <use></use>
          </svg>
        </button>
      </div>
    </div>

    <ul class="hero__achievements-list">
      <li class="hero__achievements-item">
        <span class="hero__achievements-wrap">16</span>
        <p class="hero__achievements-text">cafes</p>
      </li>
      <li class="hero__achievements-item">
        <span class="hero__achievements-wrap">23</span>
        <p class="hero__achievements-text">food trucks</p>
      </li>
    </ul>
  </div>
</section>
