<div class="backdrop-buynow is-hidden" data-modal>
  <div class="modal">
    <button class="modal__btn" type="button" data-modal-close>
      <svg class="modal__btn-icon" width="14" height="14">
        <use href="../src/images/sprite.svg#close"></use>
      </svg>
    </button>
    <p class="modal__tittle">Contact me</p>
    <form class="modal__form">
      <div class="modal__wrap">
        <input type="text" name="user-name" placeholder=" " id="user-name" class="modal__input" />
        <label for="user-name" class="modal__label">Name</label>
      </div>
      <div class="modal__wrap">
        <input type="tel" name="user-tel" placeholder=" " id="user-tel" class="modal__input" />
        <label for="user-tel" class="modal__label">Phone</label>
      </div>
      <div class="modal__wrap">
        <input
          type="email"
          name="user-email"
          placeholder=" "
          id="user-email"
          class="modal__input"
        />
        <label for="user-email" class="modal__label">Email</label>
      </div>

      <button type="submit" class="button-accent modal__btn-go">Submit</button>
    </form>
  </div>
</div>
