<section class="products">
    <div class="container">
        <p class="products--text">100% natural</p>
        <h2 class="products__subtitle">products</h2>
        <ul class="products__list">
            <li class="products__item">
                <div class="products__img"></div>
                <h3 class="products__subtitle">ice cream</h3>
                <svg class="products__points">
                    <use></use>
                </svg>
                <p class="products__subdescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button class="products__buton"></button>
            </li>
            <li class="products__item">
                <div class="products__img"></div>
                <h3 class="products__subtitle">ice coffee</h3>
                <svg class="products__points">
                    <use></use>
                </svg>
                <p class="products__subdescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button class="products__buton"></button>
            </li>
            <li class="products__item">
                <div class="products__img"></div>
                <h3 class="products__subtitle">milkshakes</h3>
                <svg class="products__points">
                    <use></use>
                </svg>
                <p class="products__subdescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button class="products__button"></button>
            </li>
        </ul>
    </div>
</section>