<section class="products">
    <div class="container">
        <p class="products__pre-title pre-title">100% natural</p>
        <h2 class="products__title title">products</h2>
        <ul class="products__list">
            <li class="products__item">
                <div class="products__img img-1"></div>
                <div class="overflow">
                    <h3 class="products__subtitle">ice cream</h3>
                    <svg class="products__points" height="6" width="26">
                        <use href="./images/sprite.svg#products-points"></use>
                    </svg>
                    <p class="products__subdescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <div class="products__hiden-description first" data-overlay1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut
                        magnam aperiam
                        labore. Id nobis quasi reiciendis esse molestiae unde quidem voluptas nihil architecto. Iste eius cum architecto
                        placeat impedit laudantium.</div>
                    <button class="products__button" data-overlay-btn1>
                        <svg class="products__pointer" height="10" width="11">
                            <use href="./images/sprite.svg#pointer-big"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products__item">
                <div class="products__img img-2"></div>
                <div class="overflow">
                    <h3 class="products__subtitle">ice coffee</h3>
                    <svg class="products__points" height="6" width="26">
                        <use href="./images/sprite.svg#products-points"></use>
                    </svg>
                    <p class="products__subdescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <div class="products__hiden-description second" data-overlay2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut
                        magnam aperiam
                        labore. Id nobis quasi reiciendis esse molestiae unde quidem voluptas nihil architecto. Iste eius cum architecto
                        placeat impedit laudantium.</div>
                    <button class="products__button" data-overlay-btn2>
                        <svg class="products__pointer" height="10" width="11">
                            <use href="./images/sprite.svg#pointer-big"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products__item">
                <div class="products__img img-3"></div>
                <div class="overflow">
                    <h3 class="products__subtitle">milkshakes</h3>
                    <svg class="products__points" height="6" width="26">
                        <use href="./images/sprite.svg#products-points"></use>
                    </svg>
                    <p class="products__subdescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <div class="products__hiden-description third" data-overlay3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut
                        magnam aperiam
                        labore. Id nobis quasi reiciendis esse molestiae unde quidem voluptas nihil architecto. Iste eius cum architecto
                        placeat impedit laudantium.</div>
                    <button class="products__button" data-overlay-btn3>
                    <svg class="products__pointer" height="10" width="11">
                        <use href="./images/sprite.svg#pointer-big"></use>
                    </svg>
                    </button>  
                </div>
            </li>
        </ul>
    </div>
</section>