.about {
  background-color: $secondaryBgColor;
  padding-top: 125px;
  @include media(767px, max-width) {
    padding-left: 30px;
    padding-right: 30px;
    background-image: url(..//..//src/images/section.milk.mob1x.png);
    background-repeat: no-repeat;
    background-position: 0 700px;
    background-size: contain;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(..//..//src/images/section.milk.mob2x.png);
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(..//..//src/images/section.milk.mob3x.png);
    }
  }

  @include media(768px) {
    padding-top: 130px;
  }
  @include media(1280px) {
    background-image: url(..//..//src/images/section.milk1x.png);

    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(..//..//src/images/section.milk2x.png);
    }
    @media (min-device-pixel-ratio: 3), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(..//..//src/images/section.milk3x.png);
    }
  }
}

.about__pre-title {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: $heroCircleColor;

  margin-bottom: 15px;

  @include media(768px) {
    font-size: 26px;
    line-height: 30px;
  }
  @include media(768px) {
  }
}

.about__title {
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accentColor;

  @include media(768px) {
    margin-bottom: 50px;
    font-size: 48px;
    line-height: 55px;
  }

  @include media(1280px) {
    margin-bottom: 55px;
    font-size: 58px;
    line-height: 66px;
  }
}

.about__box {
  @include media(768px) {
    display: flex;
  }

  @include media(1280px) {
    font-size: 58px;
    line-height: 66px;
    margin-top: 55px;
  }
}

.about__box-wrap {
  width: 100%;

  @include media(768px) {
    width: 340px;
    margin-left: 20px;
    padding-top: 50px;
  }

  @include media(1280px) {
    width: 476px;
    margin-left: 62px;
  }
}

.about__img {
  width: 100%;
  height: auto;
  margin-bottom: 46px;
  @include media(768px) {
    width: 340px;
    height: 339px;
    margin-bottom: 0px;
  }

  @include media(1280px) {
    width: 516px;
    height: 516px;
  }
}

.about__subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: $primaryTextColor;

  margin-bottom: 35px;

  @include media(768px) {
    font-size: 14px;
    line-height: 176%;
  }

  @include media(1280px) {
    font-size: 16px;
    line-height: 176%;
  }
}

.about__svg {
  width: 5px;
  height: 8px;
  margin-left: 14px;
  stroke: currentColor;
}

.about__subdescription {
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  margin-bottom: 10px;
  color: $secondaryTextColor;

  @include media(768px) {
    font-size: 14px;
    line-height: 176%;
    letter-spacing: 0.04em;
  }

  @include media(1280px) {
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.04em;
    margin-bottom: 27px;
  }
}

.about__subdescription-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  margin-bottom: 17px;
  color: $secondaryTextColor;

  @include media(768px) {
    font-size: 14px;
    line-height: 176%;
    letter-spacing: 0.04em;
    margin-bottom: 62px;
  }

  @include media(1280px) {
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.04em;
    margin-bottom: 45px;
  }
}

.about__button {
  font-family: 'DM Sans';
  width: 176px;
  height: 44px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $primaryBgColor;
  color: $accentColor;
}
