.contacts {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 113px;
  padding-top: 86px;

  background-image: linear-gradient(to bottom, #e5e5e5 11%, #fff5f6 11%, #fff5f6 89%);
}
.contacts__list {
  margin-bottom: 54px;
}
.contacts__item {
  width: 220px;
  min-height: 427px;
  background: $lightTextColor;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 20px;
  margin: 0 auto;
}
.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}
.contacts__item-desc {
  width: 100%;
  height: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  text-align: center;
  letter-spacing: 0.04em;
  background: $coffeeBgColor;
  border-radius: 4px;
  color: $lightTextColor;
  padding-left: 24px;
  padding-right: 24px;
}
.contacts__item-desc.food {
  background: $milkshakeBgColor;
}
.contacts__item-city {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: $primaryTextColor;
  margin-top: 25px;
}
.contacts__item-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $secondaryTextColor;
  margin-top: 10px;
}

.contacts-wrap {
  margin-bottom: 50px;
  position: relative;
}

.contacts-wrap span {
  position: absolute;
  width: 100%;
  border: 1px solid $customersLinesColor;
  bottom: -25px;
}

.contacts__item-day {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: $primaryTextColor;
}
.contacts__item-time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: $preTitleTextColor;
}
.contacts__item-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: $secondaryTextColor;
  margin: 0;
}

.contacts-btn {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 161px;
}
.contacts-btn__accent {
  margin-bottom: 10px;
}
.contacts-btn__accent-icon {
  margin-left: 8px;
  justify-content: center;
  align-items: center;
}
.contacts-btn__primary-icon {
  margin-left: 13px;
  justify-content: center;
  align-items: center;
}
