.button-up{
    z-index: 5;
position: fixed;
right: 30px;
bottom: 30px;

display: flex;
justify-content: center;
align-items: center;
width: 64px;
height: 64px;
stroke: $accentColor;
background-color:$heroBgColor;
border-radius: 50%;
&:hover,
&:focus {
    background-color: $btnPrimaryHoverColor;
}


&__icon{
    
transform: rotate(-90deg);

}
}